---
import Header from '../../components/Header.astro';
import "../../styles/global.css";
import cities from '../../data/cities.json';

// Astro doit savoir quelles pages générer avant le build
export async function getStaticPaths() {
  return cities.map(city => ({ params: { city } }));
}
---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Étape 5 - Contact & Consentement</title>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body class="bg-gray-100 text-gray-800">
    <Header />
    <main>
      <h1>
        Hello, world!
      </h1>
      <div class="container bg-red-400">
        <label for="test01">
          <input type="checkbox" id="test01" name="test01" class="w-[50px]"/>Hello
        </label>

      </div>
    </main>
</body>
</html>
